Advanced-Shaders/*.cache
Advanced-Shaders/*.dll
Advanced-Shaders/*.exe
Advanced-Shaders/*.pdb
Advanced-Shaders/build/
Advanced-Shaders/*.suo
Advanced-Shaders/*.user
Advanced-Shaders/*.sdf
Advanced-Shaders/*.opensdf
Advanced-Shaders/*.tlog
Advanced-Shaders/*.log
Advanced-Shaders/Advanced-Shaders/Debug
Advanced-Shaders/Advanced-Shaders/x64/Debug
